<ion-item lines="none" class="cart-item">
  <ion-label class="ion-text-wrap">
    <div class="row-between">
      <!-- Name on left -->
      <h5>{{ item?.name }}</h5>

      <!-- Quantity + Price together -->
      <div class="quantity-price">
        <div class="quantity-box">
          <ion-icon name="remove-outline" (click)="quantityMinus()"></ion-icon>
          <span>{{ item?.quantity }}</span>
          <ion-icon name="add-outline" (click)="quantityPlus()"></ion-icon>
        </div>

        <ion-text color="dark" class="price">
          ₹{{ (item?.price * item.quantity) | number: '1.2-2' }}
        </ion-text>
      </div>
    </div>
  </ion-label>
</ion-item>
