<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <ion-avatar class="ion-margin-auto">
      <ion-img src="assets/image/img1.jpg"></ion-img>
    </ion-avatar>
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="none">
      <!-- Email -->
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-input
          type="email"
          name="email"
          ngModel
          email
          #emailCtrl="ngModel"
          placeholder="Email"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched" class="ion-text-center">
        <p class="ion-padding-start">*Please enter a valid email address</p>
      </ion-text>

      <!-- Password -->
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
        <ion-icon
          color="primary"
          slot="end"
          (click)="changeType()"
          [name]="type ? 'eye-outline' : 'eye-off-outline'">
        </ion-icon>
        <ion-input
          [type]="type ? 'password' : 'text'"
          name="password"
          ngModel
          #passwordCtrl="ngModel"
          placeholder="Password"
          required
          minlength="8">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="ion-text-center">
        <p class="ion-padding-start">*Password must be at least 8 characters</p>
      </ion-text>
    </ion-list>

    <p>Forgot Password?</p>

    <ion-button
      *ngIf="!isLogin"
      expand="block"
      shape="round"
      [disabled]="!f.valid"
      type="submit"
      color="primary">
      SIGN IN
    </ion-button>
    <ion-button
      *ngIf="isLogin"
      expand="block"
      shape="round"
      [disabled]="!f.valid"
      type="submit"
      color="primary">
      <ion-spinner name="circles"></ion-spinner>
    </ion-button>
  </form>
  <ion-text color="primary" class="ion-text-center">
    Don't have an account?
    <b>Sign Up</b>
  </ion-text>
  <!-- <p class="ion-text-center signUp">
    Don't have an account?
    <b>Sign Up</b>
  </p> -->
</ion-content>
